
:host {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  position: relative;

  form { width: 250px; }
  
  .avatar {

    margin-left: 16px;

    .picture { 
      
      position: relative;

      
    }

    .edit {
      position: absolute;
      left: 0px;
      bottom: 0px;
    }

    fill: lightgray;

    width: 200px;
    height: 200px;
  }
}