
<div fxLayout="column" fxLayoutGap="16px">

  <h2>Public profile</h2>

  <mat-divider fxFill></mat-divider>

  <div fxLayout="row" fxLayoutGap="16px">

    <!-- Profile form -->
    <form [formGroup]="form" fxLayout="column" fxLayoutGap="16px" (ngSubmit)="save()">

      <!-- Name -->
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" cdkFocusInitial>
        <mat-hint>How do we call you</mat-hint>
        <mat-error *ngIf="form.controls.name.errors?.required">
          Please specify your name here
        </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-hint> We'll keep you posted here</mat-hint>
        <mat-error *ngIf="form.controls.email.errors?.email">
          Ooops! it looks like this is not a valid email
        </mat-error>
      </mat-form-field>

      <!-- Biography -->
      <mat-form-field>
        <mat-label>Bio</mat-label>
        <textarea matInput formControlName="bio" cdkTextareaAutosize cdkAutosizeMinRows="3"></textarea>
        <mat-hint>Let us know about you</mat-hint>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || form.pristine">
        Update Profile
      </button>

    </form>

    <!-- Profile picture -->
    <section class="avatar">

      <div class="mat-small">Profile picture</div>

      <div class="picture">

        <!-- Photo w/ delete button -->
        <ng-container *ngIf="(photo$ | async) as photo; else avatar">

          <img [src]="photo" (error)="photo = ''" style="width: 100%"/>

          <!-- Delete button -->
          <button mat-icon-button class="edit" (click)="deletePhoto()">
            <mat-icon>delete</mat-icon>
          </button>

        </ng-container>

        <!-- Avatar w/ upload button -->
        <ng-template #avatar>

          <!-- Hidden openfile input -->
          <input style="display:none" type="file" accept="image/*" (change)="uploadPhoto($event.target?.files?.item(0))" #openfile />

          <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="6 6 36 36">
            <path d="M6 10v28c0 2.21 1.79 4 4 4h28c2.21 0 4-1.79 4-4V10c0-2.21-1.79-4-4-4H10c-2.21 0-4 1.79-4 4zm24 8c0 3.32-2.69 6-6 6s-6-2.68-6-6c0-3.31 2.69-6 6-6s6 2.69 6 6zM12 34c0-4 8-6.2 12-6.2S36 30 36 34v2H12v-2z"/>
          </svg>

          <!-- Uploading progress bar -->
          <ng-container *ngIf="uploadTask?.progress$ | async as progress">

            <mat-progress-bar [mode]="progress < 100 ? 'determiante' : 'indeterminate'" [value]="progress">
            </mat-progress-bar>

          </ng-container>

          <!-- Upload button -->
          <button mat-icon-button class="edit" (click)="openfile.click()">
            <mat-icon>cloud_upload</mat-icon>
          </button>

        </ng-template>

      </div>

    </section>

  </div>
</div>
