
:host {
  display: block;
  position: relative;

  form { width: 250px; }
  
  .avatar {

    .picture { position: relative; }

    .edit {
      position: absolute;
      right: 0px;
      top: 0px;
    }

    fill: lightgray;

    width: 200px;
    height: 200px;
  }
}