:host {
  position: relative;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;

  .margins { margin: 16px 32px; }

  .active { 
    border-left: 3px solid blue; 
    margin-left: -3px;
  }
}